.movie{
    /* margin: 10px; */ 
    /* padding: 8px; */
    background:rgb(85, 85, 85);
    box-shadow: rgba(0, 0, 0, 0.774) 10px 5px 5px ; 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8.4vw;
    height: auto;
    border-radius: 2%;
    border: 1px solid rgba(114, 114, 114, 0.63);
    cursor:pointer;
    position: relative;
    overflow: hidden;
    ::-webkit-scrollbar {
        width: 6px;     /* Tamaño del scroll en vertical */
        height: 4px;    /* Tamaño del scroll en horizontal */
        /* display: none; */  /* Ocultar scroll */
        background: rgb(226, 226, 226);
        border-radius: 4px;
    }
    ::-webkit-scrollbar-thumb:hover {
        background: #b3b3b3;
    }
        .movieTitle{
           /*  background: rgb(100, 56, 56);  */
            display: flex;
            align-items: center;
            color:rgb(240, 240, 240);
            max-width: 100%;
            height: 4.3vh;
            font-size: 1.2em;
            font-weight: bold;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
            text-shadow:1px 1px 1px  rgba(0,0,0,0.1);
            overflow: hidden;
            border-radius: 5px;
            text-align: center; 
            word-wrap: break-word; 
        
        } 
        
        img{
            margin-top: 0.2em;
            width: 8.1vw;
            height: 26vh;
            border-radius: 5px;
            position: relative;  
        }

        .average {
            background-color:rgb(53, 53, 53);
            border: 2px solid rgb(168, 168, 168);
            border-radius: 50%;
            display: flex;
            justify-content:center;
            margin:-2.7em 0.4em;
            position: absolute; 
            width: 2em;

            p{
                color: rgb(255, 253, 253);
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
                font-weight: bolder;
                font-size: 0.8em; 
                margin: 0.5em auto;
            }

            .green{

                color:rgb(5, 184, 5);
                text-shadow:1px 1px 1px  rgba(0,0,0,0.1);
            }
            
            .orange{
               color:orange ;
               text-shadow:1px 1px 1px  rgba(0,0,0,0.1);
            }
            
            .tag.red{
               color:rgb(255, 16, 0.808) ;
               text-shadow:1px 1px 1px  rgba(0,0,0,0.1);
            }
          }
}



.moreDetails{
    position: absolute;
    background-color: white;
    bottom:0;
    left:0;
    right: 0;
    padding: 0.5rem;
    transform:translateY(100%);
    transition: transform 1s ease-in-out; 
    overflow: auto; 
    max-height: 100%;
    font-size: 11px;  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    
     h4{
         margin-top: 1em;
         
     }
}

.movie:hover{
    transform: scale(1.2);
}

.movie:hover .moreDetails{
    transform: translateY(0%);  
}


