* {
    margin: 0;
    box-sizing: border-box
}

.searchConteiner{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 1;
   
   
    .searchResults{
        padding: 0.6em 1.5em; 
        text-align: left;
        color:white;
        justify-content: center;
        font-size: 1.5em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
        background:rgba(5, 5, 5, 0.527) ;
    }

}
.input{
    margin:0.8em 2em;
    align-items: center;
    height: 2.2em;
    width: 25em;
    box-sizing: content-box;
    font-size: 14px;
    border: 1px solid #666;
    border-radius: 5px;
    background:  center no-repeat transparent;
    color: #ddd;
    outline: 0; 
}


.result{
  /*   position: absolute; */
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-gap: 1rem;
    grid-row-gap: 100px;
    width: 95%;
    height: 90%;
    transition:all 2s;
    margin: 1.5rem auto;       
    
}
