* {
    margin: 0;
    box-sizing: border-box
}

.searchConteiner{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
   
   
    .searchResults{
        margin: 0 2.5em ;
        text-align: left;
        color:white;
        justify-content: center;
        font-size: 1.5em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    }

}
.input{
    margin: 2em 4em;
    align-items: center;
    height: 2.2em;
    width: 25em;
    /* appearance: none; */
     box-sizing: content-box;
    font-size: 12px;
    border: 1px solid #666;
    border-radius: 5px;
    background:  center no-repeat transparent;
    padding: 0 6px;
    color: #ddd;
    outline: 0; 
}


.result{
    
   /*  background: rgb(0, 130, 65);  */
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-gap: 1rem;
    grid-row-gap: 100px;
    /* padding: 1em; */
    width: 95%;
    height: 90%;
    transition:all 2s;
    margin: 1.5rem auto;       
    
}
