input{
    margin-top: 0.6em;
    align-items: center;
    height: 2.2em;
    width: 25em;
    margin-right: 2em;
    /* appearance: none; */
    box-sizing: content-box;
    font-size: 12px;
    border: 1px solid #666;
    border-radius: 5px;
    background:  center no-repeat transparent;
    /* padding: 0 6px; */
    color: #ddd;
    outline: 0;
}
   