@import'../../colors.scss';

* {
    margin: 0;
    box-sizing: border-box;
}

header{
    background: $darkest;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    .menu{
        display: flex;
        height: 3em;
    }
    span{
        align-items: center;
    }
    a{
        all:unset;   // para quitar los estilos que vienen por defecto
        padding:0.8em; 
        margin:0 1em; 
        background: $darkest;
        cursor: pointer;
        transition:all 0.4s; /* para que el cambio sea suave*/
        color:$light;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    }
    a:hover{
        color:$yellow;
        transition: all 0.2s; 
        box-shadow: rgba(0, 0, 0, 0.479) 0px 0px 5px 5px ;  
    }
}







